:root {
  font-family: monospace;

  --board-size: 500px;
  
  /* Colors */
  color: rgb(235, 235, 235);
  
  --water: #24d1f0bc;
  --ship: #1cc11a;
  --hit: #839087;
  --missed-hit: #0a8297bc;
}

body {
  background-color: #070945;
  user-select: none;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;

  width: var(--board-size);
  height: var(--board-size);
}

/* Cell */
.board-cell {
  background-color: var(--water);
  border-radius: 2px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  cursor: pointer;
}

.board-cell:hover {
  opacity: 0.8;

}
.board-cell:active {
  opacity: 0.5;
}

/* Main container for both boards */
#content {
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 4rem;
}

/* Cell containing a ship (value = 1) */
.ship {
  background-color: var(--ship);
}

.hit {
  background-color: var(--hit);
}

.missed-hit {
  background-color: var(--missed-hit);
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  width: 60%;
}

#new-game-button {
  padding: 0.5rem 1rem;
  background-color: rgb(155, 155, 247);
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

#new-game-button:hover {
  background-color: rgb(217, 217, 251);
}

#new-game-button:active {
  background-color: rgb(195, 195, 251);
}

.highlighted-cell {
  background-color: lightgreen;
  opacity: 0.7;
}
