@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
}

:root {
  font-family: "Inter";

  /* Colors */
  --primary: lightblue;
  --secondary: #9022f1; 
  --light: #ffffff;
  --medium: #fefefe;
  --dark: #f2f2f2;
  --very-dark: #7a7a7a;
  
  --border-radius: 0.25rem;

  --board-size: 500px;

  color: white;
}

body {
  background-color: #070945;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;

  width: var(--board-size);
  height: var(--board-size);
}

.board-cell {
  background-color: lightblue;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* Main container for both boards */
#content {
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 4rem;
}
